body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;

}

img {
    width: 400px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0 16px;
}

ul {
    list-style-type: none;
    margin: 12px;
    padding: 12px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
}

.top {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 60px 100px;
    justify-content: center;
}

.top-text {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    max-width: 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
}

.hero-sec {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    align-self: flex-start;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-head {
    font-size: 36px;
    font-weight: 800;
    color: black;
    margin: 24px 0;
}

.container {
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
    gap: 16px;
    margin: 0 200px;
}

.info {
    max-width: 200px;
    margin-bottom: 60px;
    text-align: center;
}

.info img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.quote-body {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 16px;
}

.quote-attribution {
    align-self: flex-end;
    font-weight: bold;
}

.action {
    background-color: #3882f6;
    color: white;
    display: flex;
    margin: 100px;
    padding: 40px 80px;
    align-items: stretch;
    gap: 16px;
    border-radius: 5px;
}

.action-header {
    font-size: 24px;
    font-weight: bold;
}

.action-text {
    flex: 1;
}

.action button {
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}